---
import slugify from "slugify";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Article from "~/components/Article.astro";
import IconLogo from "~/assets/images/icons/logo.svg";

// UI Components
import Slider from "~/components/car/single-page/Slider.astro";
import Price from "~/components/car/single-page/Price.astro";
import FeatureBox from "~/components/car/single-page/FeatureBox.astro";
import FeaturesList from "~/components/car/single-page/FeaturesList.astro";
import FormInquire from "~/components/forms/Inquire.astro";

// Buttons
import ButtonGoBack from "~/components/buttons/ButtonGoBack.astro";
import ButtonShare from "~/components/buttons/ButtonShare.astro";
import ButtonPrint from "~/components/buttons/ButtonPrint.astro";
import ButtonCall from "~/components/buttons/ButtonCall.astro";
import ButtonInquire from "~/components/buttons/ButtonInquire.astro";

export async function getStaticPaths() {
	const cars = await getCollection("cars");
	const slugCount: { [key: string]: number } = {};
	return cars.map((car) => {
		let slug = slugify(car.id, { lower: true });
		if (slugCount[slug]) {
			slugCount[slug]++;
			slug = `${slug}-${slugCount[slug] - 1}`;
		} else {
			slugCount[slug] = 1;
		}
		return {
			params: { slug },
			props: { car },
		};
	});
}

const { car } = Astro.props;
const { Content } = await render(car);
---

<Layout>
	<Section class:list={"bg-gray-50"}>
		<Container class:list={"pb-0 lg:pb-0 max-sm:pt-8"}>
			<ButtonGoBack />
		</Container>

		<Container class:list={"pt-0 lg:pt-0 max-md:max-w-full max-md:px-0"}>
			<div class="bg-white shadow-md">
				<div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
					<div class="relative">
						{
							car.data.image ? (
								car.data.gallery ? (
									<Slider image={car.data.image} alt={car.data.imageAlt} gallery={car.data.gallery} />
								) : (
									<Image src={car.data.image} alt={car.data.imageAlt ? car.data.imageAlt : ""} loading={'eager'} fetchpriority={'high'} />
								)
							) : (
								<div class="absolute inset-0 text-gray-200 size-full bg-gray-50 flex flex-col gap-4 items-center justify-center">
									<IconLogo class="h-24" />
									<span class="text-gray-400 select-none font-bold italic">Coming Soon</span>
								</div>
							)
						}
					</div>

					<div>
						<div class="p-4 lg:p-8 flex flex-col items-start h-full">
							<div class="mb-4 lg:mb-6">
								<h1 class="h4">{car.data.title}</h1>

								{car.data.general.type && <span class="text-base">{car.data.general.type}</span>}

								<p class="mt-8">{car.data.excerpt}</p>
							</div>

							<hr class="w-full" />

							<Price properties={car.data.general} />

							<FeatureBox car={car} />

							<hr class="w-full mt-auto" />

							<div class="flex flex-col sm:flex-row sm:items-center gap-x-4 mt-8 w-full max-sm:gap-y-8">
								<div class="flex items-center max-sm:justify-center gap-x-4 w-full">
									<ButtonCall />
									<ButtonInquire />
								</div>

								<div class="sm:ml-auto flex items-center max-sm:justify-center gap-x-4 shrink-0">
									<ButtonShare />
									<ButtonPrint />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="p-4 lg:p-8">
					<h2 class="h6">Description</h2>
					<div class="prose max-w-none mt-8">
						<Content />
					</div>
				</div>

				<div class="p-8 divide-y divide-gray-200 max-w-5xl space-y-12">
					<FeaturesList car={car} />
				</div>

				<hr />

				<!-- Form -->
				<div id="ask-a-question" class="p-8 max-w-3xl pt-12 prose">
					<FormInquire />
				</div>
			</div>
		</Container>
	</Section>
</Layout>
