---
import IconClose from "~/assets/images/icons/close.svg";
const searchParams = new URLSearchParams(Astro.request.url.split("?")[1]);
---

<div class="my-4">
	<ul class="flex flex-wrap gap-2">
		{
			searchParams.entries().map(([key, value]) => (
				<li class="rounded-full bg-gray-800 text-white px-2.5 py-1 text-sm flex items-center gap-x-2">
					<button type="button" class={`preset-remove-${key}`}>
						<span class="sr-only">Remove filter</span>
						<IconClose class="size-2.5 rounded-full bg-white text-gray-800" />
					</button>
					<span>{key}:</span>
					<span class="font-bold">{value}</span>
				</li>
			))
		}
	</ul>
</div>

<script>
	document.addEventListener("astro:page-load", function () {
		const searchParams = new URLSearchParams(window.location.search);

		for (const [key, value] of searchParams.entries()) {
			const removeButton = document.querySelector(`.preset-remove-${key}`);

			removeButton?.addEventListener("click", () => {
				searchParams.delete(key);
				const newUrl = `${window.location.pathname}?${searchParams.toString()}`;
				window.location.href = newUrl;
			});
		}
	});
</script>
