---
export const prerender = false;
import { bodyTypes, fuelTypes, transmission, conditions } from "~/content.config";
import { getPrice } from "~/utils/helpers";
import type { CollectionEntry } from "astro:content";
import IconReset from "~/assets/images/icons/reset.svg";
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";

type Car = CollectionEntry<"cars">;

let url = new URL("/api/getFilteredCars.json", Astro.url);
const response = await fetch(url);
const allCars: Car[] = await response.json();

const makes = [...new Set(allCars.map((car: Car) => car.data.general.make))].sort();
const colors = [...new Set(allCars.map((car: Car) => car.data.exterior.color))].sort();

const priceSteps = [50000, 100000, 150000, 200000, 250000, 300000];
const { count } = Astro.props;
---

<div class="max-lg:hidden shrink-0 lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col">
	<div class="flex sticky top-8 flex-col gap-y-5 overflow-y-auto bg-white shadow-md px-6 py-4">
		<form id="form-filter" method="get" class="grid grid-cols-1 gap-y-6">
			<div>
				<div class="flex items-center gap-x-2">
					<label for="make">Make</label>
					<button id="clear-input-make" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="make" id="make" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{makes.map((make) => <option value={make}>{make}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="model">Model</label>
					<button id="clear-input-model" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="model" id="model" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="price">Price</label>
					<button id="clear-input-price" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="price" id="price" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{
							priceSteps.map((step, index) => {
								const nextStep = priceSteps[index + 1];
								if (index === 0) {
									return <option value={`0-${step}`}>Lower than {getPrice(step)}</option>;
								} else if (nextStep) {
									return (
										<option value={`${step}-${nextStep}`}>
											{getPrice(step)} - {getPrice(nextStep)}
										</option>
									);
								} else {
									return <option value={`${step}-`}>Higher than {getPrice(step)}</option>;
								}
							})
						}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="color">Color</label>
					<button id="clear-input-color" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="color" id="color" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{colors.map((color) => <option value={color}>{color}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="bodyType">Body Type</label>
					<button id="clear-input-bodyType" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="bodyType" id="bodyType" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{bodyTypes.map((bodyType) => <option value={bodyType}>{bodyType}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="fuelType">Fuel Type</label>
					<button id="clear-input-fuelType" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="fuelType" id="fuelType" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{fuelTypes.map((fuelType) => <option value={fuelType}>{fuelType}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="transmission">Transmission</label>
					<button id="clear-input-transmission" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="transmission" id="transmission" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{transmission.map((transmission) => <option value={transmission}>{transmission}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<div class="flex items-center gap-x-2">
					<label for="condition">Condition</label>
					<button id="clear-input-condition" type="button" class="hidden">
						<IconReset class="size-3 -mt-px" />
					</button>
				</div>
				<div class="grid grid-cols-1">
					<select name="condition" id="condition" class="appearance-none col-start-1 row-start-1">
						<option value="all">All</option>
						{conditions.map((condition) => <option value={condition}>{condition}</option>)}
					</select>
					<IconChevronDown class="icon-chevron-down" />
				</div>
			</div>

			<div>
				<button type="submit" class="button button-yellow w-full">
					Search <span id="filter-result-found">({count})</span></button
				>
			</div>
		</form>
	</div>
</div>

<script>
	document.addEventListener("astro:page-load", function () {
		const form = document.getElementById("form-filter") as HTMLFormElement;

		if (form) {
			const resultFound = document.getElementById("filter-result-found")!;
			const urlParams = new URLSearchParams(window.location.search);

			for (const [key, value] of urlParams.entries()) {
				const input = form.elements.namedItem(key) as HTMLSelectElement;
				const clearButton = document.getElementById(`clear-input-${key}`)! as HTMLButtonElement;

				if (input) {
					input.value = value;
					if (value !== "all" && clearButton) {
						clearButton.classList.remove("hidden");
					}
				}
			}

			form.addEventListener("change", async (event) => {
				const target = event.target! as HTMLSelectElement;
				const clearButton = document.getElementById(`clear-input-${target.name}`)! as HTMLButtonElement;

				if (target.value !== "all") {
					clearButton.classList.remove("hidden");
				} else {
					clearButton.classList.add("hidden");
				}

				try {
					const url = new URL("/api/getFilteredCars.json", window.location.origin);
					const formData = new FormData(form);

					url.search = "";

					for (const [key, value] of formData.entries()) {
						if (value !== "all") {
							url.searchParams.append(key, value.toString());
						}
					}

					const response = await fetch(url);
					const data = await response.json();

					resultFound.textContent = `(${data?.length ?? 0})`;
				} catch (error) {
					console.error(error);
				}
			});

			form.addEventListener("submit", async function (event) {
				event.preventDefault();
				try {
					const url = new URL(window.location.href);
					const formData = new FormData(form);

					url.search = "";

					for (const [key, value] of formData.entries()) {
						if (value !== "all") {
							url.searchParams.append(key, value.toString());
						}
					}

					window.location.href = url.toString();
				} catch (error) {
					console.error(error);
				}
			});

			const clearButtons = form.querySelectorAll("button[id^='clear-input-']");
			clearButtons.forEach((button) => {
				button.addEventListener("click", (event) => {
					const inputId = button.id.replace("clear-input-", "");
					const input = form.elements.namedItem(inputId) as HTMLSelectElement;

					if (input) {
						input.value = "all";
						input.dispatchEvent(new Event("change"));
						form.dispatchEvent(new Event("submit"));
					}
				});
			});
		}
	});
</script>
