---
export const prerender = false;

const start = performance.now();

// if (Astro.response.headers) {
// 	Astro.response.headers.set("CDN-Cache-Control", "public, max-age=86400, s-maxage=2592000");
// }

// const headersSet = performance.now();

import { type CollectionEntry } from "astro:content";
import { siteName, priceSteps, defaultPaginationSize } from "~/data/config";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import CardCar from "~/components/car/CardCar.astro";
import SidebarFilters from "~/components/sidebars/SidebarFilters.astro";
import Pagination from "~/components/Pagination.astro";
import SearchSort from "~/components/SearchSort.astro";
import PresetBar from "~/components/PresetBar.astro";
import FilterBarMobile from "~/components/FilterBarMobile.astro";


const afterImports = performance.now();

type Car = CollectionEntry<"cars">;

let APIURL = new URL("/api/getFilteredCars.json", Astro.url);

const searchParamsValue = Astro.url.searchParams;
const searchParamsArray = Array.from(searchParamsValue);

// console.log(searchParamsValue);
// console.log(searchParamsArray);

APIURL.search = searchParamsValue.toString();

const response = await fetch(APIURL);

const afterFetch = performance.now();

const allCars: Car[] = response.status === 404 ? [] : await response.json();

const afterData = performance.now();

const makes = [...new Set(allCars.map((car: Car) => car.data.general.make))].sort();
const afterMakes = performance.now();
const colors = [...new Set(allCars.map((car: Car) => car.data.exterior.color))].sort();
const afterColors = performance.now();
const count = allCars.length > 0 ? allCars.length : 0;
const afterCount = performance.now();

const sideBarData = {
	makes,
	colors,
	count,
	priceSteps,
};

const page = parseInt(searchParamsValue.get("page") || "1");
const afterPage = performance.now();
const pageSize = defaultPaginationSize;
const afterPageSize = performance.now();
const totalPages = Math.ceil(Array.isArray(allCars) ? allCars.length / pageSize : 0);
const afterTotalPages = performance.now();
const paginatedCars = Array.isArray(allCars) ? allCars.slice((page - 1) * pageSize, page * pageSize) : [];
const afterPaginatedCars = performance.now();

const performanceData = {
	start,
	// headersSet,
	afterImports,
	afterFetch,
	afterData,
	afterMakes,
	afterColors,
	afterCount,
	afterPage,
	afterPageSize,
	afterTotalPages,
	afterPaginatedCars,
};
---

<Layout pageTitle={`Cars | ${siteName}`} description="Explore our range of cars for sale.">
	<Section class:list={"bg-gray-50 max-lg:max-w-svw max-lg:overflow-hidden"}>
		<Container class:list={"pt-0 max-lg:px-0 max-lg:max-w-full"}>
			<div class="flex flex-col lg:flex-row">
				<FilterBarMobile params={searchParamsArray} />

				<SidebarFilters data={sideBarData} />

				<main class="lg:pl-16 grow">
					<div class="lg:px-8">
						<SearchSort />

						<div class="max-lg:hidden">
							<PresetBar params={searchParamsArray} />
						</div>

						<ul class="grid grid-cols-1 lg:gap-16">
							{
								paginatedCars.length > 0 ? (
									paginatedCars.map((car) => <CardCar car={car} />)
								) : (
									<li class="text-center text-gray-500">No results found</li>
								)
							}
						</ul>

						{
							paginatedCars.length > 0 && totalPages > 1 && (
								<Pagination page={page} totalPages={totalPages} searchParams={searchParamsValue} />
							)
						}
					</div>
				</main>
			</div>
		</Container>
	</Section>
</Layout>

<script>
	document.addEventListener("astro:page-load", function () {
		const buttonModalFilterOpen = document.getElementById("button-modal-filter-open");
		const buttonModalFilterClose = document.getElementById("button-modal-filter-close");
		const sidebarFiltersMobile = document.getElementById("sidebar-filter");

		if (sidebarFiltersMobile) {
			buttonModalFilterOpen?.addEventListener("click", () => {
				sidebarFiltersMobile.classList.remove("max-lg:opacity-0", "max-lg:pointer-events-none");
			});

			buttonModalFilterClose?.addEventListener("click", () => {
				sidebarFiltersMobile.classList.add("max-lg:opacity-0", "max-lg:pointer-events-none");
			});
		}
	});
</script>

<script define:vars={{performanceData}}>
	console.log("Performance Data", JSON.stringify(performanceData, null, 2));
</script>